@model WebApplication16.Models.Request

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CitizenUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CitizenUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccount.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccount.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BankAccount1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BankAccount1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayRoll.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayRoll.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RequestType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RequestType.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
