@model WebApplication16.Models.PayRoll

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PayRoll</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuditorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuditorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayrollType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayrollType.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
